<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Products
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Products</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <ion-button size="large" shape="round" color="primary">
    <ion-icon slot="start" name="star"></ion-icon>
    Fertilizers
  </ion-button>
  <ion-button shape="round" color="secondary">Secondary</ion-button>
  <ion-button shape="round" color="tertiary">Tertiary</ion-button> -->
  <ion-card class="bg">
    <!-- <img src="" /> -->
    <ion-card-header>
      <ion-card-subtitle>Your own</ion-card-subtitle>
      <ion-card-title>Farmer's Bay</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-text class="black-text">Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.</ion-text>
    </ion-card-content>
  </ion-card>
  <!-- <ion-list>
    <ion-item *ngFor="let category of categories" [routerLink]="['/products']" detail>
      <ion-avatar slot="start">
        <img [src]="category.icon">
      </ion-avatar>
      <ion-label>{{ category.name }}</ion-label>
    </ion-item>
  </ion-list> -->

  <div class="ion-margin height-1em"></div>

  <div class="full-width ion-margin-top ion-padding">
    <ion-button size="large" expand="block" fill="outline" class="ion-margin" *ngFor="let category of categories"
      [routerLink]="['/products']" detail>
      <div class="width-15">
        <ion-avatar slot="start">
          <img src="../../assets/icon/fertilizers-1.png">
        </ion-avatar>
      </div>
      <div class="width-85">
        Fertilizers
      </div>
    </ion-button>
  </div>

</ion-content>